#hero {
  position: relative;
  text-align: center;
  width:100%;
}

#hero h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.container-fluid  {
  
}
h3 {
  font-size:50px;
  color:red;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}